<div class="header-column d-flex align-items-center">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="mr-auto col-auto d-flex align-items-center">
                <img src="../../../assets/images/logo.png">
                <h4 class="department">Investment Research and Analytics Hub (IRAH) {{isTestedUI ? '– Testing Environment': ''}}</h4>
            </div>
            <div class="user-details d-flex align-items-center">
                <span class="username">{{$loggedUser | async}}</span>
                <img src="../../../assets/images/man.png" alt="" class="user-pic">
            </div>
        </div>
    </div>
</div>