<div class="row justify-content-center">
<div class="col px-0">
<div class="home">
    <h1>Welcome to IRAH Chat</h1>
    <h2>Chat Services</h2>
    <ul>
      <li><a routerLink="/chat">Custom Chat</a></li>
      <li><a routerLink="/chat/wealth">Wealth Chat</a></li>
      <li><a routerLink="/chat/financial-planner">Financial Planner Chat</a></li>
      <li><a routerLink="/chat/unrestricted">Unrestricted Chat</a></li>
      <!-- <li><a routerLink="/chat/esg-demo">ESG Demo Chat</a></li> -->
      <li><a routerLink="/chat/irah-for-esg" target="_blank">IRAH For ESG</a></li>
      <li><a routerLink="/chat/retirement-service-portal" target="_blank">Retirement Service Portal</a></li>
      <li><a routerLink="/chat/retirement-chatbot" target="_blank">Retirement Chatbot</a></li>
    </ul>
    <h2>Demos</h2>
    <ul>
      <li><a routerLink="/chat/trust_review">Trust Review Demo Chat</a></li>
      <li><a routerLink="/chat/pe-pension-demo">Private Equity Pension Demo Chat</a></li>
    </ul>


  </div>
</div>
</div>
  