$white: #fff;

$ey-yellow: #ffe600;
$ey-dark-grey: #23232F;
$black: #000000;
$white: #fff;
$primary-grey: #F6F6FA;
$yellow: #ffc107;
$header-text-color: #fff;
$sidebar-brand-bg: #1a1a24;
$sidebar-bg: #2e2e38;
$header-bg-color: #2e2e38;
$font-bold: bold;

$primary-grey-400:#747480;


$secbackground: #FFFFFF;
$secborder: 1px solid #2E2E38;
$secfont: caption;
$secwidth: 114px;
$secheight: 34px;
$secfont-family: 'EYInterstate';
$secfont-style: normal;
$secfont-weight: 700;
$secfont-size: 14px;
$seccolor: #2E2E38;
$secflex: none;
$secorder: 1;
$secflex-grow: 0;
$secmargin-left: 53rem;
